<form class="form comment-form">
      <div class="form-group" id="comment-form">
        <label for="post-comment">Comment:</label>
        <textarea class="form-input" id="post-comment" name="post-comment"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
</form>


<script src="./js/comment.js"></script>