header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.blogPost {
  border-style: solid;
}

.titleLine {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

#author {
  font-size: 13px;
  float: right;
}

.blogTitle {
  font-weight: bold;
  background-color: #065b83;
  color: white;
}

.blogContent {
  padding: 10px;
}

.commentForm {
  margin-top: 20px;
  border-style: solid;
}

.commentHeader {
  background-color: #065b83;
  padding: 20px;
}

.commentLabel, #commentContent {
  display: block;
}

.commentSection {
  padding: 10px;
}
